@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300;400&family=Oswald:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #4b5054;
}

/* Headings and logo */

h1, h2 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 4px;
    color: #4b5054;
}

#logo {
    float: left;
    font-size: 200%;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu ul {
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

#menu a:hover {
    background-color: rgba(194, 214, 206, 0.7);
}

.active {
    background-color: rgba(194, 214, 206, 0.7);
}

/* hero-video */
#hero-video {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: block;
}

#hero-video video {
    min-width: 100%;
    min-height: 400px; 
}
