@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300;400&family=Oswald:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #4b5054;
}

/* Headings and logo */

h1, h2 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 4px;
    color: #4b5054;
}

#logo {
    float: left;
    font-size: 200%;
}